
header::before {
    content: '';
    display: block;
    background-image: url("../images/electronics_bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14rem;
    background-color: #2f2f3c;
}

header {
    padding-bottom: 6rem;
    text-align: center;
    font-size: 1.4rem;
}

header h1 {
    padding-top: 6rem;
}

header p {
    color: #334;
}

section:nth-child(odd) {
    background-color: #f7f9fe;
}

section h2 {
    font-size: 1.7rem;
}

#unsdg {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unsdg .info {
    max-width: 50vw;
    margin-left: 4rem;
}

#unsdg .info p {
    font-size: 1.1rem;
}
