
@keyframes fade-in-opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #030722;
}

p {
    line-height: 1.7;
}

a {
    color: #007060;
}

a.source {
    text-decoration: none;
}

a:hover {
    background-color: #385e62;
    color: #edffe3;
}

/* Link on dark background */
footer a {
    color: #a0f0da;
}

/* Footer */

footer {
    margin-top: 4rem;
    padding: 1.3rem 2rem;
    background-color: #2f2f3c;
    color: #e0e2ff;
    display: flex;
    justify-content: space-between;
}

footer a:hover {
    color: #edffe3;
    background-color: #385e62;
}

footer > * {
    width: calc(33.33334% - 2rem);
    padding: 0 1rem;
}

footer .attributions {
    text-align: center;
}

footer .about-us {
    text-align: right;
}

footer .center {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer details summary {
    cursor: pointer;
    text-decoration: underline;
}

footer details summary:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
}

/* Fixed header */

.fixed-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;

    left: 0;
    right: 0;
    top: 0;
    padding: .4rem 3rem;
    background-color: #fff;
    border-bottom: 1px solid #e7e9ee;
}

.fixed-header > a {
    text-decoration: none;
}

.fixed-header .brand {
    font-size: 1.6rem;
    font-weight: bold;
    animation: fade-in-opacity .5s;
}

.fixed-header .brand img {
    position: absolute;
    padding-left: .4rem;
    animation: fade-in-opacity .3s;
}

.fixed-header nav > * {
    margin-left: 2rem;
    font-size: 1.4rem;
    text-decoration: none;
}

.fixed-header .language {
    font-size: 1rem;
    height: 100%;
    animation: fade-in-opacity 1s;
}

.fixed-header .lang-and-nav {
    margin-left: 3rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: right;
    animation: fade-in-opacity .5s;
}

.fixed-header .lang-and-nav.select-inside {
    align-items: center;
}

.fixed-header .language-select {
    border: none;
    box-shadow: inset 0 0 0 1px #adadad;
    font-size: .9rem;
    font-family: inherit;
    border-radius: 3px;
    cursor: pointer;
}

.fixed-header .language-select:hover {
    box-shadow: inset 0 0 0 1px #5078d7;
}

/* section horizontal info/pucture division */

.info-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-picture img {
    max-width: 40%;
}

.info-picture.img-left .info {
    margin-left: 4rem;
    flex-shrink: 1;
}

.info-picture.img-right .info {
    margin-right: 4rem;
}

/* Reactivity */


@media(max-width: 800px) {
    .fixed-header .lang-and-nav {
        margin-left: 0;
    }
}

@media(max-width: 935px) {
    footer {
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    footer > * {
        width: calc(50% - 1.6rem);
        padding: 0 .5rem;
        text-align: center !important;
    }

    footer > * {
        margin-bottom: 1.2rem;
    }

    .info-picture {
        flex-direction: column;
    }

    .info-picture.img-left .info {
        margin-left: 0;
        margin-top: 2rem;
    }

    .info-picture.img-right .info {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .info-picture img {
        max-width: 100%;
    }
}

/* Mobile */
@media(max-width: 750px) {
    .fixed-header {
        flex-direction: column;
        padding: .2rem 0;
    }

    .fixed-header nav {
        margin-top: .2rem;
    }

    .fixed-header nav > * {
        margin: 0 .5rem;
        font-size: 1.2rem;
    }

    .fixed-header .lang-and-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 386px) {
    .fixed-header nav > * {
        font-size: 1rem;
    }
}
