
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #030722;
}

footer {
    padding: 1rem 2rem;
    background-color: #2f2f3c;
    color: #e0e2ff;
    display: flex;
    justify-content: space-between;
}

a {
    color: #007060;
}

p {
    line-height: 1.7;
}

a:hover {
    background-color: #385e62;
    color: #edffe3;
}

/* Link on dark background */
footer a {
    color: #a0f0da;
}

footer a:hover {
    color: #edffe3;
    background-color: #385e62;
}

footer > * {
    width: calc(33.33334% - 2rem);
    padding: 0 1rem;
}

footer .attributions {
    text-align: center;
}

footer .about-us {
    text-align: right;
}

details summary:hover {
    cursor: pointer;
    text-decoration: underline;
}


.fixed-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    left: 0;
    right: 0;
    top: 0;
    padding: .2rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e7e9ee;
}

.fixed-header .brand {
    font-size: 1.4rem;
    font-weight: bold;
}


.fixed-header nav > * {
    margin-left: 1rem;
    font-size: 1.2rem;
}
