
header {
    text-align: center;
    padding: 18rem 0;
}

header h1 {
    font-size: 3rem;
}

section {
    padding: 2rem 15%;
    min-height: 150px;
}

section:nth-child(even) {
    background-color: #f7f9fe;
}

section h2 {
    font-size: 2rem;
}

#ai-guided-self-repair {
    /* height of image contained */
    min-height: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ai-guided-self-repair p {
    font-size: 1.3rem;
}

#ai-guided-self-repair img {
    flex-shrink: 0;
    padding-left: 5rem;
}

.products-previews .products {
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.products-previews .products::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    z-index: 3;
    background: linear-gradient(to right, transparent, #f7f9fe);
}

.products-previews .product {
    margin: 1rem;
}

.products-previews .product img {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    border: 2px solid #d1dae1;
}

.products-previews .view-all {
    text-align: right;
}
