
header {
    text-align: center;
    background-image: url('../images/tech_bg.svg');
    background-size: cover;
    height: 100px; /* IE support */
    min-height: 100vh;
    display: -ms-flexbox; /* IE support */
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-pack: center; /* IE support */
    flex-direction: column;
}

header h1 {
    font-size: 3.6rem;
    margin-bottom: 0;
    color: #131a36;
    padding-right: 40px;
}

header p {
    font-size: 1.7rem;
    color: #556;
}

header .brand img {
    position: absolute;
    margin-top: 13px;
    margin-left: 9px;
}

section {
    padding: 3rem 15%;
    min-height: 150px;
}

section:nth-child(odd) {
    background-color: #f7f9fe;
}

section h2 {
    font-size: 2.3rem;
}

section p {
    font-size: 1.3rem;
}

/* Tool reccomendation section */

#reccomended-tools > h2 {
    margin-bottom: 3rem;
}

#reccomended-tools .reccomendation {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #f7f9fe;
    padding: 1rem;
}

#reccomended-tools .reccomendation > img {
    border: 2px solid #d1dae1;
    flex-shrink: 0; /* IE Support */
}

#reccomended-tools .reccomendation .about {
    margin: 2rem;
    font-size: 1.2rem;
}

#reccomended-tools .reccomendation h3 {
    font-size: 1.8rem;
}

#ice-bergs img {
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 1, 5, .12);
}

#unsdg .about {
    margin: 6rem 0;
}

.read-more {
    white-space: nowrap;
}

/* Reactivity */

@media(max-width: 935px) {
    #ice-bergs {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #ice-bergs img {
        width: 100%;
        box-shadow: none;
    }
}

/* Mobile */
@media(max-width: 694px) {
    header h1 {
        font-size: 2rem;
    }

    header .brand img {
        height: 37px !important;
        margin-top: 7px;
        margin-left: 6px;
    }

    header p {
        font-size: 1.4rem;
    }

    #unsdg .about {
        margin: 3rem 0;
    }

    section h2 {
        font-size: 1.9rem;
    }

    section p {
        font-size: 1.1rem;
    }
}
