
header::before {
    background-image: url("../images/headers/ice_bergs.jpg");
}

section:nth-child(even) {
    background-color: #f7f9fe;
}

section {
    padding: 4rem 15vw;
}

.center-image {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
}

.center-image img {
    box-shadow: 0 2px 12px rgba(0, 1, 5, .14);
}

@media(max-width: 1434px) {
    .center-image img {
        width: 100%;
    }
}

/* Mobile */

@media(max-width: 694px) {
    section {
        padding: 3rem 5vw;
    }
}
